body{
	margin:0; 
	padding:0;
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}
/* Heaer Section Start */
.header{
	background-color: #3B5998; padding:10px;
}
.header:after{
	content: '';
	clear: both;
	display:block;
}
.logoarea img{
	margin-top: 8px;
}
.container{
	width:80%;
	margin:auto;
}
.logoarea{
	width:20%;
	float:left;
}
.loginarea{
	width:80%;
	float:left;
	color:white;
}
.loginarea form{
	float:right;
}
.loginarea label,
.loginarea input{
	display:block;
}
.loginarea .email,
.loginarea .password,
.loginarea .login{
	float:left;
	margin-right: 20px;
}
.loginarea label{
	font-size: 14px;
	margin-bottom: 7px;
}
.loginarea .login{
	margin-right: 0;
}
.loginarea input[type="text"],
.loginarea input[type="password"]{
	border:1px solid #000;
	font-size: 14px;
	padding: 3px 5px;
}
.loginarea .password a{
	text-decoration: none;
	color:#b1b7c4;
}
.loginarea .password a:hover{
	text-decoration: underline;
}
.loginarea input[type="submit"]{
	background-color: rgb(139, 93, 172);
	border:1px solid rgb(92, 35, 35);
	padding: 3px 2px;
	color:white;
	margin-top:25px;
	font-weight: 400px;
}
.loginarea input[type="submit"]:hover{
	background-color: rgb(61, 61, 131);
}
/* Header Section End */

/* Sign Up Area Start */
.signup-area::after{
	content:'';
	clear: both;
	display:block;
}
.signup-area{
	background-color: linear-gradient (#fff,#834e4e );
}

.left-area{
	width:55%;
	float:left;
}
.left-area p{
	font-size: 20px;
	font-weight: bold;
	color:#2c2c66;
	margin-top: 40px;
}
.right-area{
	width:45%;
	float:left;
}
.right-area h1{
	font-size: 33px;
	font-weight: bold;
	margin-bottom: -1px;
	
}
.right-area h4{
	font-size: 19px;
	margin-top: 5px;
	margin-bottom: 10px;
	
}
.right-area input[type="text"],
.right-area input[type="password"]{
	width:100%;
	border:1px solid #bdc7d8;
	border-radius: 5px;
	padding:8px 10px;
	font-size: 18px;
	margin: 5px 0px;
}
.fullname{
	
	
	
}
.firstname{
	width:45%;
	float:left;
	margin-right: 48px;
}
.surname{
	width:45%;
	float:left;

}
.birthday{
   overflow: hidden;
}
.birthday h4{
	margin-top: 0;
	margin-bottom: 5px;
}
.birth-date{
	overflow: hidden;
	float:left;
	width:261px
}
.birth-date select{
	border:1px solid rgb(53, 41, 41);
	padding:5px;
	float:left;
	margin-right: 10px;
}
.birth-link{
	float: left;
	width:190px;
}
.birth-link a{
	font-size: 18px;
	display:block;
	line-height: 0.8;
	text-decoration: none;
	
}
.birth-link a:hover{
	text-decoration: underline;
}
.gender{
	margin:10px 0px;
}
.gender label{
	font-size: 20px;
	font-weight: 500;
}
.gender p{
	font-weight: bold;
	font-size: 20px;
}
.text-box{
	width:80%;
	margin-bottom: 20px;
}
.text-box a{
	text-decoration: none;

}
.text-box a:hover{
	text-decoration: underline;
}
.btn input{
	background-color:green;
	padding: 7px 20px;
	width: 194px;
	font-size: 19px;
	font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif !important;
	color:white;
	border: 1px solid;
    border-radius: 5px;
    color: #fff;
    
    display: inline-block;
    letter-spacing: 1px;
    position: relative;
	text-shadow: 0 1px 2px rgba(0,0,0,.5);
	margin-bottom: 10px;
	
}
.btn input:hover{
	background-color: rgba(43, 233, 43, 0.816);
	transition: 0.5s;
	cursor: pointer;
	
}
.btn{
   margin-bottom:25px;
   margin-top: 25px;

}
span a{
	text-decoration: none;
}
span a:hover{
	text-decoration: underline;
	font-weight: 500;
}
/* Sign Up Area End */
.horizontal{
	width:90%;
	
	
	
}
/* Footer aria start */

.footer-area{
	background-color: white;
	padding-top:60px
	
	
}
.footer-area ul li{
	padding:0;
	margin:0;
	list-style-type: none;
	display:inline;
	font-size:12px;
	
}

.footer-area ul li a{
	text-decoration: none ;
}
.footer-area ul li a:hover {
	text-decoration:underline ;
}
.footer-area .top ul li a{
	padding:5px;
}
.footer-area .middle ul li a{
	padding:10px;
}

/* Footer aria end */
.signup-area{
	background-image: linear-gradient(white, rgb(209, 192, 192));
	padding-bottom: 20px;
}